.TcHmi_Controls_TcHmiOpenHabControls_SwitchTs {
    overflow: hidden;
}

.TcHmi_Controls_TcHmiOpenHabControls_SwitchTs-Template {
    width: 100%;
    height: 100%;
    background-image: url('Icons/classic/switch-off.png');
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: center;
}

    .TcHmi_Controls_TcHmiOpenHabControls_SwitchTs-Template .labelName {
        width: 100%;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }

    .TcHmi_Controls_TcHmiOpenHabControls_SwitchTs-Template .labelState {
        width: 100%;
        text-align: center;
        margin: 0;
        position: absolute;
        bottom: 0;
    }
