<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.759.123-dev" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.759.123-dev" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="4.7.4" developmentDependency="true" targetFramework="native1.12-tchmi" />
</packages>